kaggle
pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
torch
transformers
accelerate
huggingface_hub
python-dotenv
bitsandbytes
pillow
datasets
peft
trl
evaluate
rouge_score
sentencepiece
elevenlabs
